body {
    overflow: hidden;
    height: 100;
}


/* The floating element being dragged around */
.dragging-item {
    cursor: grab;

    pointer-events: none;

    position: absolute;
    width: 100%;
    transform: translateY(-75%);
}

/* The item in place of the floating element in the list */
.filler-item {
    color: transparent;
    background-color: lightgray;
    cursor: grab;
    width: 90%;
}

.grabber {
    touch-action: none;
    cursor: grab;
    margin: auto 5px;
}



/* Column layout */
.draggable-columns {
    display: flex;
    position: relative;
    height: 98vh;
}

.left-column {
    overflow: scroll;
    height: 100%;
}

.right-column {
    overflow: scroll;
    margin-left: 5px;

}

.separator {
    position: absolute;
    left: 600px;
    top: 0px;
    width: 6px;
    height: 100%;
    border-right: solid 1px #ccc;
    cursor: col-resize;

    transform: translateX(+200%);
}



.course {
    background-color: white;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 8px;
    border: thin solid lightgray;
    width: 80%;
    overflow-x: scroll;
}

